* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.navbar-Top-container {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
}


.navbar-Top {
    width: 98%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
}

.navbar-left-item {
    width: 40%;

    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

}

.navbar-right-item {
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

}

.navbar-Bottom{
     width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 11.5em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}

.content{
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.cart-top{
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content:center ;
    gap: 13em;
}

.job-cart{

    height: 160px;
    width: 200px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.items-cart{
  width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content:center ;
    align-content: center;
    column-gap: 13em;   
    row-gap: 3em;
    flex-wrap: wrap;
}

.box{
    width: 100px;
}