* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.code-container {
    width: 200px;
    margin: 0 auto;
    margin-top: 10em;
}

.face {
    width: 200px;
    height: 180px;
    border: 2px solid black;
    border-radius: 100%;
    position: relative;
}

.left-eye {
    width: 40px;
    height: 25px;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
    top: 3em;
    left: 2em;
    background-color: black;
}

.right-eye {
    width: 40px;
    height: 25px;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
    top: 3em;
    left: 7.8em;
    background-color: black;
}

.left-eye-boll {

    width: 20px;
    height: 15px;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    left: 7px;
    top: 2px;
}

.right-eye-boll {
    width: 20px;
    height: 15px;
    border: 2px solid black;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    left: 7px;
    top: 2px;
}

.chandan {
    width: 12px;
    height: 40px;
    /* border: 2px solid; */
    position: absolute;
    left: 5.8em;
    top: 2em;
    background-color: red;
}

.lape {
    width: 10px;
    height: 7px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    left: 1px;
}

.mouth {
    width: 60px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(95, 11, 11);
    position: absolute;
    top: 7em;
    left: 4em;
}

.tange {
    width: 30px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(244, 134, 218);
    position: absolute;
    top: 1.4em;
    left: 1em;

}

.practice {
    width: 30px;
    height: 15px;
    border-radius: 100%;
    background-color: red;
    margin: 0 auto;
}