* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.plastic-ball {
    height: 100px;
    position: relative;

    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: orange;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation-name: "BallMoveHoga";
    animation-duration: 1s;
    animation-timing-function: linear; */
    /* animation-delay: 5s; */
    /* animation-iteration-count: 3; */
}

/* @keyframes BallMoveHoga {


    25% {
        top: 0px;
        left: 10em;
    }


} */


.box1 {
    height: 80px;
    width: 200px;
    border: 2px solid;
    margin: 0 auto;
    margin-top: 4em;
}

.box {
    height: 80px;
    width: 200px;
    border: 2px solid;
    margin: 0 auto;
    margin-top: 4em;
    background-color: yellow;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    transition: transform 1s linear 1s;
}

/* .box:hover {
    background-color: red;
    transform: rotate(225deg);
} */

.box:hover {
    background-color: red;
    transform: scale(1.5);
}

.box2 {
    width: 120px;
    height: 30px;
    border: 2px solid;
    margin: 0 auto;
    margin-top: 10em;
    background-color: red;
    transform: rotate(0deg);
    transition: background-color 4s ease-in-out , transform 4s ease-in-out;
}

.box2:hover {
    background-color: red;
    transform: rotate(360deg);
}

