* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    width: 600px;
    height: 400px;
    border: 2px solid;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.child {
    width: 250px;
    height: 150px;
    border: 1px solid rgb(255, 0, 242);
    background-color: yellow;
    text-align: center;
    font-size: 19px;
}


@media screen and (min-width: 768px) {



}

/* Styles for screens narrower than 600px */
@media screen and (max-width: 300px) {
    .parent {
        background-color: aqua;
        width: 280px;
        height: 300px;
        border: 2px solid;
        margin: 0 auto;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
    }

    .child {
        width: 130px;
        height: 130px;
        border: 1px solid rgb(255, 0, 242);
        background-color: yellow;
        text-align: center;
        font-size: 16px;
    }
}