/* body{
    background-color: black;
}
    
    div {
        background-color: rgb(38, 0, 255);
        font-weight: bold;
    }

    #para1 {
        background-color: gray;
    }

    .div-container {
        background-color: rgb(255, 22, 212);
    }

    /* .div-container {
      color: white;
      font-size: 50px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    } */
/* .div-container {
      color: rgb(250, 250, 255);
      font-size: 20px;
    }  */

    *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
        
    }
.container2 {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px solid rgb(233, 5, 165);
    padding: 50px;
}